.timey-input-text, 
.timey-input-text-with-icon, 
.timey-input-number,
.timey-input-date,
.timey-input-select,
.timey-input-textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
    background-color: #fff;
    height: 42px;
    -webkit-appearance:none;
}

.timey-input-container {
    display: flex;
}

.timey-input-text-with-icon {
    border-right: none;
    border-radius: 3px 0 0px 3px;
}
.timey-input-icon {
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 3px 3px 0;
    padding: 12px;
    margin: auto;
}


.timey-label {
    padding-bottom: 8px;
    display: inline-block;
}