.btn {
    background-color: #fff;
    color: #000;
    padding: 12px 20px;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: pointer;
}
.btn.btn-primary {
    background-color: #28a745;
    color: #fff;
}
.btn.btn-danger {
    background-color: #dc3545;
    color: #fff;
}
.btn.btn-small {
    height: 32px;
    padding: 0 8px;
}

.btn:focus {
    outline: 1px solid #2684ff;
    outline-width: 1px;
    outline-offset: -2px;
}

.btn::-moz-focus-inner {
    border: 0;
}