@import 'variables.scss';
@import 'palette.scss';

.btn {
  background-color: $background-color;
  color: $font-color;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  padding: 12px 20px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  outline: none;

  &:focus {
    border-color: $outline-color;
  }

  &:disabled {
    border-color: $disabled-color;
    background-color: $disabled-color;
    cursor: not-allowed;
  }
}

.btn-primary {
  border-color: $success-color;
  color: #fff;
  background-color: $success-color;
}

.btn-danger {
  color: #fff;
  border-color: $danger-color;
  background-color: $danger-color;
}

.btn-small {
  height: 32px;
  padding: 0 8px;
}
