.timey-form-row {
    display: flex;
    flex-direction: column;
}

.timey-form-row > * {
    margin: 5px 0;
}

.timey-form-row.right > * {
    margin-left: auto;
}

.timey-form-row.inline {
    flex-direction: row;
}

.timey-form-row.inline.right > *:last-child {
    margin-left: 2px;
}