.timey-form * {
    box-sizing: border-box;
}

.timey-form-footer {
    display: flex;
    flex-direction: row-reverse;
}

.timey-form-footer * {
    margin: 0 2px;
}

.timey-form-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .7);
}

.timey-form-errors {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border: 1px solid #f5c6cb;
    border-radius: 3px;
    background-color: #f8d7da;
    color: #721c24;
}
.timey-form-errors > li {
    margin: 12px;
}