.timey-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.timey-list > li {
  margin: 8px 0;
  padding: 10px;
  border-radius: 2px;
  font-size: 0.85em;
  box-shadow: 1px 1px 3px rgb(150, 150, 150, 0.7);
  border: 1px solid #ccc;
}

.timey-list > li:first-child {
  margin-top: 0;
}

.timey-list > li:last-child {
  margin-bottom: 0;
}

.timey-list > li.clickable:hover {
  box-shadow: 3px 3px 3px rgb(150, 150, 150, 0.7);
}

.timey-list > li.clickable {
  cursor: pointer;
}

.timey-list > li.selected {
  border-color: #2261a1;
  box-shadow: 3px 3px 3px rgb(150, 150, 150, 0.7);
}
