.timey-list {
    list-style-type: none;
    padding: 0;
}
.timey-list > li {
    margin: 8px;
    padding: 10px;
    border-radius: 4px;
    font-size: .85em;
    box-shadow: 2px 2px 5px rgb(150, 150, 150, .3);
    border: 1px solid #eee;
}
.timey-list > li.clickable:hover {
    box-shadow: 3px 3px 10px rgb(150, 150, 150, .5);
}
.timey-list > li.clickable {
    cursor: pointer;
}