@import 'palette.scss';
@import 'variables.scss';

.react-tabs {
  -webkit-tap-highlight-color: transparent;
  padding: 20px;
}

.react-tabs__tab-list {
  display: table;
  margin: 0 auto;
  padding: 0 2px;
}

.react-tabs__tab {
  display: inline-block;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
}

.react-tabs__tab--selected {
  border-bottom: 3px solid $accent-color;
}

.react-tabs__tab--disabled {
  color: $disabled-color;
  cursor: not-allowed;
}

.react-tabs__tab:focus {
  outline: 1px solid $accent-color;
}

.react-tabs__tab-panel {
  display: none;
  padding-top: 14px;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.ReactModal__Body--open {
  overflow: hidden;
}
