.issue-list-item {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(150, 150, 150, 0.3);
}

.issue-list-item-project {
  font-size: 10pt;
  font-weight: bold;
  color: #888;
}
