body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h1 { font-size: 18pt; }
h2 { font-size: 16pt; }
h3 { font-size: 14pt; }
h4 { font-size: 12pt; }

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="date"],
select,
textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: none;
  background-color: #fff;
  height: 42px;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d2cfcf;
}

*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:active {
  background-color: #adadad;
}
