body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 100;
  text-transform: uppercase;
}

h1 { font-size: 24px; }
h2 { font-size: 21px; }
h3 { font-size: 18px; }
h4 { font-size: 15px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #2261a1;

  &:hover { text-decoration: underline; }
}

input[type="text"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="date"],
select,
textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  resize: none;
  background-color: #fff;
  height: 42px;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d2cfcf;
}

*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:active {
  background-color: #adadad;
}
