$gray-0: #fff;
$gray-1: #c6c6c6;
$gray-2: #919191;
$gray-3: #5e5e5e;
$gray-4: #303030;

$primary-color: #2261a1;

$background-color: $gray-0;
$font-color: $gray-4;

$header-color: $primary-color;
$header-font-color: $gray-0;

$border-color: $gray-2;
