@import 'palette.scss';
@import 'variables.scss';

.issue-header {
  display: flex;

  &.column { flex-direction: column; }
  &.inline > *:not(:first-child) { margin-left: module(); }

  .project-title {
    color: $font-color-sub;
  }
}
