.react-calendar-heatmap {
    width: 100%;
    max-height: 200px;
}

.react-calendar-heatmap .loading {
    fill: red;
    -webkit-animation: 2s ease-in-out infinite;
    -moz-animation: 2s ease-in-out infinite;
    animation: load 2s ease-in-out infinite;
}
@-webkit-keyframes load {
    0%{fill: #eeeeee}
    50%{fill: #6191c2}
    100%{fill: #eeeeee}
}
@-moz-keyframes load {
    0%{fill: #eeeeee}
    50%{fill: #6191c2}
    100%{fill: #eeeeee}
}
@keyframes load {
    0%{fill: #6191c2}
    50%{fill: #9ac1ea}
    100%{fill: #6191c2}
}


.react-calendar-heatmap text {
    font-size: 10px;
    fill: #aaa;
}
.react-calendar-heatmap .react-calendar-heatmap-small-text {
    font-size: 5px;
}
.react-calendar-heatmap rect:hover {
    stroke: #555;
    stroke-width: 1px;
}

.activity-heatmap-item {
    cursor: pointer;
}

.react-calendar-heatmap .color-empty {
    fill: #eeeeee;
}
.react-calendar-heatmap .color-filled {
    fill: #7fa8d1;
}
.react-calendar-heatmap .color-0 {
    fill: #c9d6e4;
}
.react-calendar-heatmap .color-1 {
    fill: #b0c2d7;
}
.react-calendar-heatmap .color-2 {
    fill: #9ac1ea;
}
.react-calendar-heatmap .color-3 {
    fill: #6191c2;
}
.react-calendar-heatmap .color-4 {
    fill: #19619c;
}
.react-calendar-heatmap .color-warn {
    fill: #ff7e00;
}

.react-calendar-heatmap text {
    font-size: 8px;
}