/* GENERAL */

body {
  font-family: sans-serif;
}

/* ACTIVIY HEATMAP */

.activity-heatmap-container {
    margin: auto;
    width: 918px;
    height: 167px;
  }
  .react-calendar-heatmap {
    max-height: 300px;
  }
  .react-calendar-heatmap text {
    font-size: 10px;
    fill: #aaa;
  }
  .react-calendar-heatmap .react-calendar-heatmap-small-text {
    font-size: 5px;
  }
  .react-calendar-heatmap rect:hover {
    stroke: #555;
    stroke-width: 1px;
  }
  .react-calendar-heatmap .color-empty {
    fill: #eeeeee;
  }
  .react-calendar-heatmap .color-filled {
    fill: #7fa8d1;
  }
  .react-calendar-heatmap .color-0 {
    fill: #ededed;
  }
  .react-calendar-heatmap .color-1 {
    fill: #acd5f2;
  }
  .react-calendar-heatmap .color-2 {
    fill: #7fa8d1;
  }
  .react-calendar-heatmap .color-3 {
    fill: #49729b;
  }
  .react-calendar-heatmap .color-4 {
    fill: #254e77;
  }
  .react-calendar-heatmap .color-warn {
    fill: #193a5a;
  }
  
  
  /* ACTIVIY LIST */

  .list-day {
    margin-bottom: 32px;
  }
  .list-task h3 {
    font-size: 1.3em;
    font-weight: normal;
    padding-left: 20px;
  }
  .list-task a {
    color: black;
    text-decoration: none;
  }
  .list-task a:hover {
    text-decoration: underline;
  }
  .list-task ul {
    list-style-type: none;
    padding-left: 8px;
  }
  .list-task ul li {
    display: flex;
    margin: 8px;
    padding: 10px;
    background: aliceblue;
    border-radius: 4px;
  }
  .list-comment span {
    margin-left: auto;
    margin-right: 8px;
    font-weight: bold;
  }
  .list-day h2 {
     width: 100%; 
     text-align: center; 
     border-bottom: 1px solid #d1d1d1; 
     line-height: 0.1em;
     margin: 10px 0 20px;
     color: #aaa;
     font-size: 14pt;
  } 
  .list-day h2 span { 
      background:#fff; 
      padding:0 10px; 
  }

