@import 'palette.scss';

.activity-heatmap-item {
  cursor: pointer;
}

.react-calendar-heatmap {
  width: 100%;
  max-height: 200px;

  .loading {
    animation: load 2s ease-in-out infinite;
  }

  text {
    font-size: 8px;
    fill: $font-color;
  }

  .react-calendar-heatmap-small-text {
    font-size: 5px;
  }

  rect:hover {
    stroke: $accent-color;
    stroke-width: 1px;
  }

  $step: 15%;
  $base-color: darken($primary-color, 3 * $step);

  @for $n from 1 through 5 {
    .color-#{$n} {
      fill: lighten($base-color, 100 - $n * $step);
    }
  }

  .color-0 { fill: $gray-1; }
  .color-warn { fill: $danger-color; }
}

@-webkit-keyframes load {
  0% { fill: #eee; }
  50% { fill: #6191c2; }
  100% { fill: #eee; }
}

@-moz-keyframes load {
  0% { fill: #eee; }
  50% { fill: #6191c2; }
  100% { fill: #eee; }
}

@keyframes load {
  0% { fill: #6191c2; }
  50% { fill: #9ac1ea; }
  100% { fill: #6191c2; }
}
