@import 'variables.scss';

.timing-page {
  display: flex;
  height: calc(100vh - #{$header-height});

  h1 { margin: 0 auto 20px auto; }
  h3 { margin-bottom: 10px; }

  &.mobile {
    flex-direction: column;

    h1 {
      margin: 15px auto 0 auto;
    }

    h3 {
      margin-top: 10px;
    }
  }

  &.desktop {
    .issues-container {
      height: 100%;
      overflow-y: auto;
      padding: 5px 10px 5px 0;
      margin-right: 20px;
      flex: 1 1 auto;
      max-width: 800px;
    }

    .entry-container {
      width: 300px;
    }

    .col {
      $padding: 24px;

      display: flex;
      flex-direction: column;
      margin: auto;
      padding: $padding;
      width: 100%;
      height: calc(100% - #{2 * $padding});
    }

    .row {
      display: flex;
      justify-content: center;
      width: 100%;
      height: inherit;
    }
  }
}
