.activity-overview {
    max-width: 1040px;
    margin: auto;
  }

  .list-day {
    margin-bottom: 32px;
  }
  .list-issue h3 {
    font-size: 1.3em;
    font-weight: normal;
    padding-left: 20px;
  }
  .list-issue a {
    color: black;
    text-decoration: none;
  }
  .list-issue a:hover {
    text-decoration: underline;
  }
  .list-issue ul {
    list-style-type: none;
    padding-left: 8px;
  }
  .list-issue ul li {
    display: flex;
    margin: 8px;
    padding: 10px;
    background: aliceblue;
    border-radius: 4px;
  }
  .list-comment span {
    margin-left: auto;
    margin-right: 8px;
    font-weight: bold;
  }
  .list-day h2 {
     width: 100%; 
     text-align: center; 
     border-bottom: 1px solid #d1d1d1; 
     line-height: 0.1em;
     margin: 10px 0 20px;
     color: #aaa;
     font-size: 14pt;
  } 
  .list-day h2 span { 
      background:#fff; 
      padding:0 10px; 
  }