.activity-list-header {
  display: flex;
  padding: 12px 0;
}

.activity-list-header-link {
  cursor: pointer;
  color: #2261a1;
  text-decoration: none;
  outline: 0;
}

@media (max-width: 720px) {
  .activity-list-header {
    font-size: 14pt;
  }
}
